.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.so
.DS_Store
Thumbs.db
.env/
.venv/
venv/
env/
nohup.out
*.log
*.parquet
*.zip
*.csv
*.json
t5-small-namefixer-es/
t5-training/
logs/
results/
*.png
*.kml
*.aux
*.out
*.toc
*.synctex.gz
.vscode/
